* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
}

.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
}
html {
  scroll-behavior: smooth;
}

